<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/prashhant/Downloads/RapidAPIFootBall/src">

        <classes>
            <class name="com.rapidapi.services.testCases.football.TestCase_GetContriesSeasons">

            </class>
            <class name="com.rapidapi.services.testCases.football.TestCase_GetTeams">
            </class>
        </classes>
    </test>

</suite>


